<!DOCTYPE html>
<html>
<head>
    <title>Mood Analyzer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Mood Analyzer</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <form method="post">
        <label for="text">Enter text:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
